
.presentation__second, .parcours__second{
    position: absolute;
    display: none;
    background-color: #ffffff;
    border-top: 4px solid #D4D4D4;
}

nav a{
    font-size: 1.25em; /*20/16*/
}

.nav__title a:hover, .nav__title a:focus{
    color: #7DC149;
}

.header__count{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.count__title{
    font-size: 2.5em; /*20/16*/
    border-top: 5px solid #ffffff;
    padding-top: 0.7em; /*35*/
    padding-bottom: 0.7em; /*35*/
}
.count__number{
    border-top: 5px solid #ffffff;
    font-size: 3.125em; /*50/16*/
    text-align: right;
    padding-top: 0.5em; /*35*/
    padding-bottom: 0.5em; /*35*/
}

@media screen and (min-width: 1024px){
    .nav__title a,.header__tag, .nav__primary a{
     color: #ffffff;
        position: absolute;
        padding-top: 1em; /*30/16*/
    }

    .nav__primary{
        margin-left: 14.4em; /*288px/20*/
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav__primary a{
        top: 2.5em; /*20/16*/
    }
    .header__tag{
        position: absolute;
        top: 1.25em; /*252/100*/
        width: 9.3em; /*930/100*/
    }
    .header__figure{
        position: absolute;
        width: 100vh;
        height: 100vh;
    }
    .header__tag, .header__nav{
        margin-left: 135px;
        margin-right: 135px;
    }
    .primary__contact a{
        color: #000000;
        padding: 0.7em 1.7em; /*14/20 38/20*/
        background-color: #ffffff;
        -webkit-border-radius: 56px;
        -moz-border-radius: 56px;
        border-radius: 56px;
    }
    .primary__contact a:hover, .primary__contact a:focus{
        color: #ffffff;
        background-color: #7DC149;
    }
    .primary__presentation:hover .presentation__second, .primary__presentation:focus-within .presentation__second, .primary__parcours:hover .parcours__second, .primary__parcours:focus-within .parcours__second{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin-top: 120px;
        height: 50vh;
        left: 0;
        width: 100%;
    }
    .primary__presentation:hover .menu__down, .primary__presentation:focus-within .menu__down, .primary__parcours:hover .menu__down, .primary__parcours:focus-within .menu__down{
        color: #7DC149;
    }

    .header__count{
        font-weight: bolder;
        color: #ffffff;
        position: absolute;
        bottom: 1em; /*328/20*/
        right: 6em; /*154/20*/
    }

}


@media screen and (min-width: 768px) and (max-width: 1023px){

}


@media screen and (max-width: 767px){

}