

.layout__social{
    margin-top: 200px;
    margin-bottom: 130px;
    text-align: center;
}

.social__title{
    margin-bottom: 1.25em; /*25/20*/
}

.social__tagline{
    font-size: 1.875em; /*30/16*/
    font-weight: lighter;
    margin-bottom: 1em; /*30/30*/
    margin-top: 1em; /*30/30*/
}

.social__link{
    margin-right: 2em; /*40/20*/
}

.social__link:hover svg{
    fill: #7DC149;
}


@media screen and (min-width: 1100px) {


}
